<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar> 
    <ion-buttons left> <button ion-button icon-only navPop class="back_css"> <ion-icon name="ios-redo"></ion-icon> </button> </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-color: #2f2f2f;">

  <ion-list no-lines>
    <ion-item-divider class="divider">
        WIFI
    </ion-item-divider>
    <div class="section">
      <!-- <ion-item class="items"  (tap)="qrScan()" tappable>
        QR Scan
      </ion-item> -->
      <ion-item class="items" (tap)="changeWifiNetwork()" tappable>
        Network and Password
        <ion-icon name="md-arrow-dropright" item-end></ion-icon>

    </ion-item>
    <!-- <ion-item class="items" (tap)="changeWifiPassword()" tappable>
        Password
    </ion-item> -->
    </div>

    <ion-item-divider class="divider">
        YoSpot
    </ion-item-divider>
    <div class="section">
      <ion-item class="items"  (tap)="setResolution()" tappable>
          Resolution
          <ion-icon name="md-arrow-dropdown" item-end></ion-icon>
          
      </ion-item>
      <ion-item class="items"   (tap)="setPhotoQuality()" tappable>
          Photo Quality
          <ion-icon name="md-arrow-dropdown" item-end></ion-icon>
      </ion-item>
      <ion-item class="items"   (tap)="movieDate()" tappable>
          Print Movie Date
          <ion-icon name="md-arrow-dropdown" item-end></ion-icon>
      </ion-item>
      <ion-item class="items" (tap)="setRecordingTime()" tappable>
          Recording Time
          <ion-icon name="md-arrow-dropdown" item-end></ion-icon>
      </ion-item>
      <ion-item class="items"  (tap)="setCollision()" tappable>
          Collision Sensitivity
          <ion-icon name="md-arrow-dropdown" item-end></ion-icon>
          
      </ion-item>
      <ion-item class="items"  (tap)="muteAudio()" tappable>
          Audio
          <ion-icon name="md-arrow-dropdown" item-end></ion-icon>
          
      </ion-item>


      <!-- <ion-item class="items" (tap)="download()" tappable>
          Download
      </ion-item> -->
    </div>

    <ion-item-divider class="divider">
        Storage
    </ion-item-divider>
    <div class="section">
      <ion-item class="items"   (tap)="formatCard()" tappable>
          Format SD Card
          <ion-icon name="md-arrow-dropright" item-end></ion-icon>
      </ion-item>
      <ion-item class="items"   (tap)="cardCapacity()" tappable>
          Available Capacity
          <ion-icon name="md-arrow-dropright" item-end></ion-icon>
      </ion-item>
    </div>

    <ion-item-divider class="divider">
        More
    </ion-item-divider>
    <div class="section">
        <ion-item class="items"   (tap)="resetSystem()" tappable>
            System Reset
            <ion-icon name="md-arrow-dropright" item-end></ion-icon>
        </ion-item>
        <ion-item class="items"   tappable (tap)="setupDateTime()">
            Setup Date and Time
            <ion-icon name="md-arrow-dropright" item-end></ion-icon>
        </ion-item>
    </div>
  </ion-list>

</ion-content>
