<!--
  Generated template for the VideoFeedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
 
      <ion-navbar >
        <i navPop class="fa fa-reply back_icon" aria-hidden="true"></i>  
        <ion-title text-center >
         Video Movie
        </ion-title>

      </ion-navbar>
  </ion-header>

<ion-content class="vidContent" >
  <!-- <img class="mainFeed" src="http://192.168.1.254:8192" /> -->

  <ion-grid class="grid"> 
    <ion-row class="">
      <ion-col class="">
        <h4 class="pipMode col-6" style="    margin-top: 8px;">{{cameraModeText}}  </h4>      
      </ion-col>
      <ion-col class="">
        
          <ion-label class="col-6" style="color: #796969;"  text-right > {{myDate | date: 'MM/dd/yyyy'}}, {{mydatTime}}  </ion-label>
          
          </ion-col> 
    </ion-row>
    <ion-row class="videoRow">
      <ion-col class="videoCol">
        <ion-row class="indicatorRow">
          <ion-col class="videoCol">
            <button ion-button clear class="indicatorButton" *ngIf="dashcamService.videoRecording == true && recBlink == true" >
              <ion-icon style="color: red;" name="radio-button-on">&nbsp;Rec</ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <div class="mainVideo">
          <!-- <img src="https://res.cloudinary.com/indysigner/image/fetch/f_auto,q_auto/w_1600/https://cloud.netlifyusercontent.com/assets/344dbf88-fdf9-42bb-adb4-46f01eedd629/4b1d6da4-a748-4b2e-b39a-d98d842aa976/user-testing-usability-test-circle.png" />             -->
          <img [src]="liveFeedUrl" />          
        </div>
      </ion-col>
    </ion-row>
     <img class="yospotTitle" src="./assets/imgs/yospot-title.png" />

     <!--MS comments-->
    <!--ion-row class="indicatorRow">
      <ion-col class="videoCol">
        <button ion-button clear class="indicatorButton" *ngIf="dashcamService.videoRecording == true && recBlink == true" >
          <ion-icon style="color: red;" name="radio-button-on">&nbsp;Rec</ion-icon>
        </button>
      </ion-col>
    </ion-row-->

    <!-- Small Toolbar -->
  <ion-card padding class="toolbarCard" >
    <ion-row class="smallToolBarRow">
      <ion-col class="smallToolBarCol"> 
        <button ion-button  class="smallButton" clear (click)="goToLibrary()" (tap)="goToLibrary()">
          <ion-icon name="images" style="color:white; font-size:1.5em;"></ion-icon>
        </button>
      </ion-col>
      <ion-col class="smallToolBarCol"> 
        <button class="smallButton" ion-button  clear (tap)="goToCameraMode()">
          <ion-icon style="color:white; font-size:1.5em;" name="reverse-camera"></ion-icon>
        </button>
      </ion-col>
      <ion-col class="smallToolBarCol"> 
        <button ion-button class="smallButton"  clear (tap)="goToFullScreen()">
          <ion-icon style="color:white; font-size:1.5em;" name="expand"></ion-icon>
         <!--img src="assets/imgs/expand-button.png" /-->
        </button>
      </ion-col>

      <ion-col class="smallToolBarCol">
        <button class="smallButton" ion-button  clear (tap)="goToSettings()">
          <ion-icon style="color:white; font-size:1.5em;" name="settings"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <!-- Large Toolbar -->
    <ion-row class="largeToolBarRow" align-items-center >
      <ion-col class="largeToolBarCol" >
        <button class="largeButton" ion-button (tap)="goToTakePicture()">
          <ion-icon style="font-size:2em;" name="camera"></ion-icon>
        </button>
      </ion-col>
      <ion-col class="largeToolBarCol" > 
        <button  ion-button class="largeButtonRec" (tap)="goToToggleRecording()">
          <ion-icon  name="radio-button-on" style="color:white; font-size:5em;" *ngIf="dashcamService.videoRecording == false"></ion-icon>
          <ion-icon  name="radio-button-on" style="color:red; font-size:5em;" *ngIf="dashcamService.videoRecording == true && recBlink == true"></ion-icon>          
          <ion-icon  name="radio-button-on" style="color:#212121 ; font-size:5em;" *ngIf="dashcamService.videoRecording == true && recBlink == false"></ion-icon>          
          
        </button>
      </ion-col>
      <ion-col class="largeToolBarCol" > 
        <button  ion-button class="largeButton"  (tap)="goToToggleAudio()">
          <!--ion-icon style="font-size:2em;" name="volume-high" *ngIf="muteAudio == false"></ion-icon-->
          <i class="fa fa-volume-up" style="font-size:2em;" *ngIf="muteAudio == false" aria-hidden="true"></i>

          <ion-icon style="font-size:2em;" name="volume-off" *ngIf="muteAudio == true"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

  </ion-card>
    <!-- Landscape Toolbar -->
    <ion-row class="landscapeToolBarRow">
        <ion-col col-2 offset-1 class="landscapeToolBarCol">

          <button class="landscapeButton" ion-button  clear (tap)="goToLibrary()">
              <ion-icon name="images"></ion-icon>
          </button>
          <button class="landscapeButton" ion-button  clear (tap)="goToCameraMode()" >
            <ion-icon name="reverse-camera"></ion-icon>
          </button>
        </ion-col >
        <ion-col col-3 offset-2 class="landscapeToolBarCol"> 
          <button class="landscapeButton" ion-button  clear (tap)="goToTakePicture()">
            <ion-icon name="camera"></ion-icon>
          </button>
          <button class="landscapeButton" ion-button  clear (tap)="goToToggleRecording()">
              <ion-icon name="radio-button-on" style="color:white;" *ngIf="dashcamService.videoRecording == false"></ion-icon>
              <ion-icon name="radio-button-on" style="color:red;" *ngIf="dashcamService.videoRecording == true && recBlink == true"></ion-icon>    
              <ion-icon name="radio-button-on" style="color:black;" *ngIf="dashcamService.videoRecording == true && recBlink == false"></ion-icon>    
              
            </button>
          <button class="landscapeButton" ion-button  clear (tap)="goToToggleAudio()">
              <ion-icon name="volume-up" *ngIf="muteAudio == false"></ion-icon>
              <ion-icon name="volume-off" *ngIf="muteAudio == true"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-2 offset-2  class="landscapeToolBarCol"> 
          <!-- <button class="landscapeButton" ion-button  clear (tap)="goToTogglePIP()">
            <ion-icon name="photos"></ion-icon>
          </button> -->
          <!-- <button class="landscapeButton" ion-button  clear (tap)="goToCameraMode()" >
              <ion-icon name="reverse-camera"></ion-icon>
          </button> -->
          <button class="landscapeButton" ion-button  clear (tap)="goToRemoveFullScreen()">
            <ion-icon name="contract"></ion-icon>
          </button>
          <button class="landscapeButton" ion-button   clear (tap)="goToSettings()">
            <ion-icon name="settings"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
  </ion-grid>

</ion-content>
