page-video-feed {

    @media screen and (orientation:portrait) {
        .pipMode {
            font-weight: bold; 
            text-align: left; 
            padding-left: .5em;
            color: color($colors,primary, base);;
        }
        .vidContent {
            background-color: color($colors,secondary, base);
        }

        .mainFeed {
            width: 100%;
            height: auto;            
        };
        .indicatorRow {
          /* position: fixed;
           top: 18%;*/
           position: absolute;
           top: 0;
           left: 3%;
           color: red !important;
        };

        .indicatorButton{
            // margin: auto; 
            // display: block;
            // font-size: 2em;
            padding-left: 2%;
            padding-right: 2%;
            // width: 28px;
            margin-top: 0px;
            margin-bottom: 0px;
            // color: white;
            // height: 1.5em;
        }

        .yospotTitle {
            width: 50%;
            height: auto;
            margin: auto;
            position: relative;
            background-color: transparent;
            margin-top: 0.5em;
           // margin-top: 1em;
            // margin-bottom: 1em;
        }
        
        .mainVideo {
            width: 100%;
            height: 100%;
            position: relative;
            border-color:color($colors,secondary, base);//darkred;
            border-style:solid;
            border-width: 5px;
            padding: 0px;
            margin: 0px;
        };

        .grid {
            background-color: color($colors,secondary, base);
            padding: 0px;
        }
        .videoRow{
            background-color: color($colors,secondary, base);
            // margin-top: 50%;
            // margin-bottom: 50%;
            margin-left: 0px;
            margin-right: 0px;
            // height: 100% !important;
            padding: 0px;
        }
        .videoCol{
            background-color: acqua !important;
            padding:0px;
            margin: 0px;
        } 
        .toolbarCard {
            background-color: #2e2e2e;
            margin: 0px;
            width: 100%;
            // display: block;
            position: fixed;
            bottom: 0px;
        }
        .smallToolBarRow{
            background-color: #212121; //color($colors,darklight,base);
            // padding-top: 1em;
            // padding-bottom: 1em;
            margin-left: 1em;
            margin-right: 1em;
            border-radius: 3em;
            // color: white !important;
            margin-top: 1.5em;
        }
        .smallButton{
            margin: auto; 
            display: block;
            font-size: 1.75em; //1.25em;
            padding: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
            // height: 1.5em;
        }
        .smallToolBarCol{
            background-color: acqua !important;
            padding:0px;
            margin: 0px;
        } 
        .largeToolBarRow{
            background-color: #2e2e2e;//color($colors,darklight,base);
            // height: 8em;
            margin-top: 3em;
            margin-bottom: 4em;
        } 
        .largeToolBarCol{
            // background-color: #212121 !important;
            // background-color: green !important;
            // padding:1em;
            // margin: .5em;
            // border-radius: 50%;

        } 
        .largeButton{
            margin: auto; 
            display: block;
            font-size: 1.5em;
            padding: 1em;
            margin-top: 0px;
            margin-bottom: 0px;
            height: 3.5em;
            border-radius: 50%;
            background-color: #212121;  
        }
        .largeButtonRec{
            margin: auto; 
            display: block;
            // font-size: 2em;
            // padding: 1em;
            margin-top: 0px;
            margin-bottom: 0px;
            height: 6.5em;
            border-radius: 50%;
            background-color: #212121;  
        }

        .landscapeToolBarRow{
            display: none
        }
        .landscapeButton{
            display: none
        }
        .landscapeToolBarCol{
            display: none
        } 
        
    }
    @media screen and (orientation:landscape) {
        .pipMode{
            display: none;
        }
        .indicatorRow {
            /*position: fixed;
            top: 8%;*/
            position: absolute;
            top: 0;
            left: 3%;
            color: red !important;
            background-color: transparent;
         };
        // .mainFeed {
        //     width: 100%;
        //     height: 100%;
        //     // padding: 1.5%;
        //     background-color: darkred;
        //     // margin:auto;
        //     display: block;
        // };

        .largeToolBarRow{
            // opacity: 0;
            display: none;
        } 
        .smallToolBarRow{
            // opacity: 0;
            display: none;
        }

        .grid {
            // // background-color: green;
            // // padding: 0px;
            // width: 100%;
            // height: 100%;
            // // padding: 1.5%;
            // background-color: orange;
            // // margin:auto;
            // display: block;
            // position: absolute;
        }
        .videoRow{
            // background-color: aqua;
            // // margin-top: 50%;
            // // margin-bottom: 50%;
            // margin-left: 0px;
            // margin-right: 0px;
            // padding: 0px;
            // display: block;
            // position: relative;
        }
        .videoCol{
            // background-color: blue !important;
            // padding:0px;
            // margin: 0px;
            // display: block;
            // position: relative;
        } 
        .mainVideo {
            // width: 100%;
            // height: 100%;
            // position: relative;
            // background-color: green !important;
            // margin: 10px;
            // margin-top: 20px;
            position: fixed;
            top: 0;
            left: 0;
            // width: 50em;
            border: 12px solid #fe5845;
        }

        .landscapeToolBarRow{
            background-color: black;
            // margin-top: 0px;
            // margin-bottom: 0px;
            // display: inline;
            width: 90%;
            position: fixed;
            bottom: 5%;
            left: 5%;
            opacity: .7;
            color: white;
            border-radius: 5px;
        }
        .landscapeButton{
            // margin: auto; 
            // display: block;
            font-size: 2em;
            padding-left: 2%;
            padding-right: 2%;
            // width: 28px;
            margin-top: 0px;
            margin-bottom: 0px;
            color: white;
            // height: 1.5em;
        }
        .landscapeToolBarCol{
            background-color: acqua !important;
            // padding:0px;
            // margin: 0px;
        } 


    }



    /*own*/
    .back_icon{
        font-size: 25px;
        position: absolute;
        left: 10px;
        color: #fff;
        z-index: 25;
    }

}
