<!--
  Generated template for the CustomSplashPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>custom-splash</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding class="backgroundImg">
  <!-- <img class="logoImage" src='./assets/imgs/logo.png' /> -->
  <img class="logoImage" src='./assets/imgs/logoAnim.gif' alt="YoSpot" />
  <!-- <div class="videoPlayer"> -->
   <!-- <video *ngIf="videoUrl == true" controls=false preload=true autoplay=true webkit-playsinline="webkit-playsinline" > -->
  <!-- <video *ngIf="videoUrl == true" poster playsinline preload="auto" autoplay>    
    <source src="./assets/videos/YoSpotVideo.mov" type="video/mp4" />
  </video> -->
  <!-- </div> -->
</ion-content>
