<ion-header>
  <ion-navbar color="primary">
    
    <ion-title text-center>
     Connect to Wifi
    </ion-title> 
  </ion-navbar>
</ion-header>

<ion-content style="background-color: #2e2e2e" padding>
  <ion-slides no-padding pager >
    <ion-slide style="background-color: #2e2e2e" >
      <ion-card class="card" >
          <h2 style="margin-top: 1.5em;text-align: center;">Scan QR Code in the back of your device to Connect Wi-Fi</h2>
          <img src="./assets/imgs/QR_image.png" class="qrimg"/>
          <div class="divider"></div>
          <button ion-button class="connectBtn" large style="margin-top:1em;" (tap)="qrScan()">
            <ion-icon name="md-checkmark" item-end>&nbsp;&nbsp;SCAN</ion-icon>          
          </button>
      </ion-card>
    </ion-slide>
    <ion-slide style="background-color: #2e2e2e">
        <ion-card class="cardTut" >
            <h1 style="margin-top: .5em;text-align: center; font-weight: bold;">Tutorial</h1>
            <video controls="controls"  poster="./assets/imgs/poster.png" class="videoPlayer">
                <source src="./assets/videos/YoSpotVideo.mov" type="video/mp4" />
            </video>

        </ion-card>
    </ion-slide>
  </ion-slides> 
</ion-content>

  <!-- <div class="divider"></div>
  <button ion-button class="connectBtn" large style="margin-top:1em;" (tap)="qrScan()">
    <ion-icon name="md-checkmark" item-end>&nbsp;&nbsp;START</ion-icon>          
  </button> -->

  <!-- <ion-card class="card" >
    <ion-list style="width:80%; margin: auto;">
      <h2 style="font-weight: bold;margin-top:1em; margin-bottom:2em;text-align: center;">WiFi Network and Password</h2>
      <ion-item class="item">
        <ion-input [disabled]=true placeholder="WiFi Network" [(ngModel)]="wifi"></ion-input>
      </ion-item>
      <ion-item class="item">
          <ion-input [disabled]=true placeholder="Password" [(ngModel)]="password"></ion-input>
        </ion-item>
    </ion-list>

    <button ion-button [disabled]="wifi == null" class="connectBtn" large style="margin-top:1em;" (tap)="connect()">
      Connect Camera
    </button>
  </ion-card> -->

  <!-- <button ion-button block class="tutorialBtn" (tap)="tutorial()">
    Tutorial
  </button> -->