page-home {
.connectBtn {
    display: block;
    margin: auto;
    background-color: #feab37; //#ff9c31;
    font-weight: bold;
    width: 60%;
    border-radius: 2em;
    margin-top: 3em !important;
    margin-bottom: 2em !important;

}
.item {
    margin-top:5px;
    margin-bottom:5px;
    background-color: darkgrey;
}
.cardTut {
    background-color: #fffaec !important;
    border-radius: 10px;
    padding-top: 10% !important;
    // padding-bottom: 10%;
    margin-top: 0px;
    // margin-top: 1em;
    // height: 50%;

}
.card {
   /* background-color: #fffaec;// white;
    border-radius: 10px;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-top: 0px;
    */
    background-color: #fffaec;
    border-radius: 6px;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 0px;

}

.qrimg {
    width: 50%;
    height: 25%;
    margin: auto;
    // padding-top: 10%;
    // border-width: 1px;
    // border-style: solid;
    // border-color: black;
    margin-top: 3em;
    margin-bottom: 3em;
}
.divider {
  
    border-style: dashed;
    border-color: #bbb1b1;
    border-width: 1px;
    position: relative;
}
.tutorialBtn {
    background-color: black;
    color: white;
    margin-top: 2em;
    font-weight: bold;
}
.videoPlayer {
    margin-top: 4em;
    margin-bottom: 2em;
    // background-color: green;
    height: auto;
    width: 100%;
}

/*own*/

.divider::after ,.divider::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #2f2f2f;
    border-radius: 50%;
    top: -8px;
}

.divider::before {
    left: -8px;
    
}
.divider::after {
    right: -8px;
}



}
