page-settings {

    // 2f2f2f - Grey

    // 252525 - black

    // Microsoft elegant

    
.divider {
 background-color: #2f2f2f; //black;
 color: #949494;
 border-style: solid;
 border-width: 1px;
 border-color: #2f2f2f;
};
.items {
    background-color: #292929; //black; //#2f2f2f;
    color: white;
    border-radius: 4px;
    // color: lightGrey;
};
.section {
    border-radius: 5px;
    // background-color: white;
    background-color: #2f2f2f;
    padding: 5px;

}


/*own */
    .toggle-md-dark.toggle-checked .toggle-icon {
        background-color: #7eec83;
    }

    .toggle-md-dark.toggle-checked .toggle-inner {
        background-color: #33373b;
    }

    .back_icon{
        font-size: 25px;
        position: absolute;
        left: 10px;
        color: #fff;
        z-index: 25;
    }

}
