<!--
  Generated template for the FullscreenPicturePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons style="padding-top: 0px; padding-bottom: 0px" start >
        <button ion-button (click)="cancel()">
            <ion-icon name="arrow-back" left></ion-icon>
        </button>
    </ion-buttons>  

    <ion-title>{{fileName}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding style="background-color: black;">
  <img class="picture" src={{picturePath}} />

</ion-content>
