$toolbar-ios-title-font-size: .5em;
$toolbar-ios-title-text-align: right;

page-fullscreen-picture {

    @media screen and (orientation:portrait) {
        .picture {
            width: 100%;
            height: auto;
        }
    }

    @media screen and (orientation:landscape) {
        .picture {
            width: 100%;
            height: auto;
            // position: relative;
            // top: 0;
            // left: 0;
        }
    }     
}
