<!--
  Generated template for the LibraryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <meta http-equiv="Content-Security-Policy" content="default-src *; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'; media-src *; img-src * filesystem: data:"> -->

<ion-header>
  <ion-navbar class="ion-text-center">
    <!--i navPop class="fa fa-reply back_icon" aria-hidden="true"></i-->  
    <ion-buttons left> <button ion-button icon-only navPop class="back_css"> <ion-icon name="ios-redo"></ion-icon> </button> </ion-buttons>
    <ion-title text-center> Library</ion-title>
    <!-- <ion-buttons *ngIf="searchDate == null" style="padding-top: 0px; padding-bottom: 0px" end > -->
    <ion-buttons style="padding-top: 0px; padding-bottom: 0px ;  position: absolute; right: 0;" end >
        <button class="numBtn"  ion-button solid (click)="prev5()">
            <ion-icon name="arrow-back" right>&nbsp;5</ion-icon>
        </button>
        &nbsp;
        <button  class="numBtn"  ion-button solid (click)="next5()">
            <ion-icon name="arrow-forward">&nbsp;5</ion-icon>
        </button>
        &nbsp;
    </ion-buttons>
  </ion-navbar>
    <div style="background-color: #fe684e; padding-left: .5em;padding-right: .5em; padding-top: 0em; padding-bottom: 1em;" >
    <ion-item style="color: black; background-color: white; margin: auto;border-radius: 2em;">
        <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="MMMM DD YYYY" [(ngModel)]="searchDate" (ngModelChange)="filter(searchDate)"></ion-datetime>
        <ion-label class="cal_parent">  
            <ion-icon  class="calnder_style" name="calendar"></ion-icon> 
         
            <!--i class="fa fa-calendar calnder_style" aria-hidden="true"></i-->

        </ion-label>
       
    </ion-item>
    </div>
</ion-header>

<ion-content no-padding class="libContent">
 <div [ngSwitch]="filesType" no-padding class="no-gap">
    <div *ngSwitchCase="'videos'" no-padding class="switch" >
        <ion-list class="list" no-lines no-padding *ngFor="let video of videoFiles">  
        <!-- <ion-list class="list" no-lines no-padding [virtualScroll]="videoFiles">   -->
            <!-- <ion-item-sliding *virtualItem="let video"> -->
            <ion-item-sliding>                
                <ion-item class="item" no-padding >
                    <!-- <p style="font-size: 6px">{{video.downloadPath}}</p>
                    <p style="font-size: 6px">{{video.thumbPath}}</p> -->
                    <video controls="controls" preload="none" webkit-playsinline="webkit-playsinline" class="videoPlayer" poster={{video.thumbPath}}>
                        <source src={{video.downloadPath}} type="video/mp4" />
                        
                    </video> 
                </ion-item>
                <ion-item-options side="right">
                    <button ion-button expandable (click)="deleteFile('video', video.filePath)">
                        <ion-icon name="trash"></ion-icon>
                    </button>
                    <button ion-button expandable (click)="downloadFile('video', video.name, video.downloadPath)">
                        <ion-icon name="download"></ion-icon>
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list> 
    </div>
    
    <div *ngSwitchCase="'pictures'" no-padding  class="no-gap">
        <ion-list class="list no-gap" no-lines *ngFor="let picture of pictureFiles">                             
        <!-- <ion-list class="list no-gap" no-lines [virtualScroll]="pictureFiles"> -->
            <!-- <ion-item-sliding *virtualItem="let picture">  -->
            <ion-item-sliding>            
                <ion-item class="no-gap">
                    <!-- <p style="font-size: 6px">{{picture.thumbPath}}</p>
                    <p style="font-size: 6px">{{picture.picturePath}}</p> -->
                    <!-- <img  src="http://192.168.1.254/novatek/photo/2018_0322_043352_004.JPG"  (click)="showPicture(picture.name, picture.picturePath)" tappable/>                     -->
                    <!-- <img class="picturePlayer" src={{picture.picturePath}}  (click)="showPicture(picture.name, picture.picturePath)" tappable/>                     -->
                    
                    <img class="picturePlayer" src={{picture.thumbPath}}  (click)="showPicture(picture.name, picture.picturePath)" tappable/>
                </ion-item>
                <ion-item-options side="right">
                    <button large ion-button expandable (click)="deleteFile('picture', picture.filePath)">
                        <ion-icon name="trash"></ion-icon>
                    </button>
                    <button large ion-button expandable (click)="downloadFile('picture', picture.name, picture.picturePath)">
                        <ion-icon name="download"></ion-icon>
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list> 
    </div>
</div>
</ion-content>
<ion-footer  >
    <div no-padding  >
        <ion-segment class="segment" [(ngModel)]="filesType">
            <ion-segment-button class="segmentBtn" value="videos">
                <!-- <ion-icon name="md-arrow-dropdown" item-end></ion-icon>                     -->
                <!-- Videos -->
                <ion-icon  class="tab_icon"  name="ios-videocam-outline"></ion-icon>
                <!--i class="fa fa-file-video-o tab_icon" style="    margin-top: 8px;" aria-hidden="true"></i-->&nbsp; Videos
            </ion-segment-button>
            <ion-segment-button class="segmentBtn" value="pictures">
                <ion-icon class="tab_icon" name="images">&nbsp;</ion-icon> Photos
            </ion-segment-button>
        </ion-segment>
    </div>
</ion-footer>
