page-library {
    .divider {
        background-color: black;
        color: white;
       };
       dateSearch {
         background-color: white !important; 
         border-width: 1px;
         border-color: white;
         border-style: solid;
         text-align: center;

       };
       .libContent {
        background-color: color($colors,darklight, base);
       }
       .switch {
        background-color: black;
        color: white;
        margin-top: 0px;
        padding-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        };
       .list {
           background-color: lightblue;
           color: color($colors,darklight, base);
           margin-top: 0px;
           padding-top: 0px;
           margin-bottom: 0px;
           padding-bottom: 0px;
           margin-left:auto !important;
       };
       .item {
            background-color: color($colors,darklight, base);
            color: white;
            margin-top: 0px;
            padding-top: 0px;
            margin-bottom: 0px;
            padding-bottom: 0px;
            margin-left:auto !important;

        };
       .section {
           border-radius: 5px;
           background-color: white;
           padding: 5px;
       
       }
       .segment {
           padding: 5px;
           background-color: white; //black;
           color: white;
           background-color: color($colors,darklight, base);
           height: 5em;
       }
       .segmentBtn {
        padding-top: 1em; 
        padding-bottom: 0px;
        border-radius: 25px !important;
        margin-right:1em !important;
        margin-left: 1em !important;
        align-items: center !important;
        align-content: center !important;
        border-color: color($colors,darklight, base) !important;
        height: 4em !important;
        font-weight: bold !important;
        // background-color: green !important;
    }
       .noGap {
           margin: 0px;
           padding: 0px;
       }
       .videoPlayer {
           width:100%;
           height: 100%;
           margin-top: 0px;
           padding-top: 0px;
           margin-bottom: 0px;
           padding-bottom: 0px;
       }
       .picturePlayer {
        width:100%;
        height: 100%;
        margin-top: 0px;
        padding-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .numBtn {
        // padding-top: 0px; 
        // padding-bottom: 0px;
        // padding: 10px !important;
        border-radius: 50%;
    }


    /**/
    .cal_parent {
        margin: 0;       
        position: absolute;
        right: 5px;
    }
    .calnder_style{
        background: #FF9800;
        padding: 5px;
        color: #fff;
        width: 40px;
        height: 40px;
        text-align: center;
        float: right;
        font-size: 27px;
        border-radius: 50%;
    }
    .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
        border-color: #fe5845;
        opacity: 1;
        background: #ee664f;
        color: #fff;
    }
    .tab_icon{
        font-size: 2.6rem  ;
        vertical-align: sub;
    }

}
