page-custom-splash {

    .backgroundImg {
        background-image: url('../assets/imgs/brick.png');
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;

     }

    .logoImage {
        // margin: auto;
        // display: block;
        position: fixed;
        top:0;
        left:0;
        width: 125%;
        // margin-top: 25% !important;
        // height: 25%;
        // border-style: solid;
        // border-width: 5px;
        // border-color: black;
        // border-radius: 5px;
    }

    videoPlayer{
        position: fixed;
        top: 5;
        
    }

}
